

.wrapper-layout {
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(38,53,104,.25);
  display: grid;
  grid-template-columns: repeat(3,minmax(30%,1fr));
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  overflow: visible;
  box-sizing: border-box;
  padding: 16px;
  @media screen and (min-width: 768px) {
    & {
      padding: 24px;
    }
  }
  @media screen and (max-width: 767px) {
    & {
      grid-template-columns: 100%;

    }
  }
  @media screen and  (min-width: 768px) and (max-width: 1040px) {
    & {
      grid-template-columns: 1fr 1fr;

    }
  }
}

